*{
    color: black !important;
    font-family: cursive;
}
.container-fluid{
    background-color: darkgray;
    border-bottom: 3px solid black;
}
.navbar-default .navbar-toggle{
    background-color: white;
}
.navbar-collapse{
    background-color: lightgray;
}
li:hover{
    background-color: rgb(146, 142, 142);
}
.container{
    background-color: darkgrey;
}
#sub-heading{
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
#content{
    margin: 20px;
}
